cv_bridge==1.16.0
gpytorch==1.11
ILoSA==0.0.2
matplotlib==3.1.2
mediapipe==0.10.0
numpy==1.24.3
numpy==1.17.4
numpy_quaternion==2022.4.2
open3d==0.13.0
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
rospy==1.16.0
scikit_learn==1.2.2
scipy==1.10.1
sensor_msgs==1.13.1
tf==1.13.2
tf2_geometry_msgs==0.7.6
tf2_ros==0.7.6
tf2_sensor_msgs==0.7.6
torch==2.0.1
tqdm==4.62.3
